* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*Utilities*/

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-center {
  text-align: center;
}

/*width and height*/
.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-30 {
  width: 31%;
}

.w-25 {
  width: 25%;
}

.w-20 {
  width: 20%;
}

.w-7 {
  width: 7%;
}

.h-100 {
  height: 100%;
}

.vh-100 {
  height: 100vh;
}

/*width and height*/

/*display*/
.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}
.justify-content-end {
  justify-content: end;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

/*display*/

.color-whitesmoke {
  color: whitesmoke;
}

.color-e01014 {
  color: #e01014;
}

.bg-color-e01014 {
  background-color: #e01014;
}

.color-0b090a {
  color: #0b090a;
}

.bg-color-2f2f2f73 {
  background-color: #2f2f2f73;
}

/*Utilities*/

body {
  background-color: #0b090a;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

main {
  max-width: 1250px;
  margin: auto;
  display: grid;
  grid-template-columns: 300px 1fr 90px;
  gap: 10px;
  min-height: 140vh;
  box-sizing: border-box;
}

main section {
  width: 100%;
  background-color: #161a1d;
}

/*start me*/

/*start logo*/

.logo h1 i {
  font-size: 80px;
}

/*end logo*/

/*start name*/

.name h1 {
  margin: 15px;
}

.name h4 {
  margin-top: 15px;
  color: #827a7e;
}

/*end name*/

/*start line*/

.line {
  border: 1px solid rgba(255, 255, 255, 0.077);
  margin-top: 35px;
}

/*end line*/

/*start skills*/

.skills {
  margin-top: 35px;
}

.skills h1 {
  padding-left: 10px;
  margin: 15px;
}

.skills ul {
  padding-left: 50px;
}

/*end skills*/

/*start job*/

.job {
  height: 20%;
  background-image: url("../img/black.jpg");
  background-position: center;
}

.job h1 {
  padding: 20px;
}

.job p {
  padding: 20px;
}

.job button {
  padding: 5px 15px;
  margin: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.job button:hover {
  filter: brightness(120%);
}

/*end job*/

/*start porjects*/

.projects {
  height: 30px;
}

/*end porjects*/

/*start services*/

.service {
  padding: 25px;
}

.service h1 {
  margin-bottom: 15px;
}

/*end services*/

.lag h1 {
  margin: 5px 0px 15px 10px;
}

.lag p {
  margin-left: 10px;
}

.langs {
  /* margin: 5px; */
  padding: 5px;
}

/*end lag*/

/*start work*/

.works {
  padding-top: 10px;
}

.my {
  margin: 20px;
}

.some {
  margin: 20px;
}

/*end work*/

/*start my-work*/

.imges {
  width: 30%;
}

.imges a {
  width: 25%;
}

.photo {
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.looding {
  margin-top: 10px;
  padding-bottom: 10px;
}

.looding h4 {
  margin-top: 10px;
}

/*end my-work*/

/*start lang*/

.lang {
  height: 90px;
}

/*end lang*/

/*start media*/

.media {
  height: 900px;
}

.media a {
  margin-bottom: 15px;
}

.media a {
  font-size: 50px;
}

.media i:hover {
  color: #e01014;
}

.en {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

/*end media*/

/*start screen*/

@media screen and (max-width: 1000px) {
  main {
    grid-template-columns: 1fr;
  }
  .work {
    height: 2137px;
  }
  .job {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projects {
    flex-direction: column;
    height: 100px;
  }
  .web {
    flex-direction: column;
  }
  .langs {
    width: 100%;
    margin-top: 5px;
  }
  .my-work {
    flex-direction: column;
  }
  .imges {
    width: 100%;
  }
  .media {
    height: 300px;
  }
}
/*end screen*/
